<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)

 <br>
 {{"contoh awal"}}
 <br><br>
 25 + 25 = {{25+25}}
</p>

  <div *ngFor = "let buah of item; let i=index">
  {{i+1}}. {{buah.nama}}-{{buah.harga | currency:'Rp. '}}
  </div>

  <div *ngFor = "let data of itemArr">
    {{data}}
  </div>

<p *ngIf="show">
  Tampilkan isi
</p>

<p *ngIf="user.nama">
  nama user : {{user.nama}}
</p>

<ng-template
  *ngIf="show;then showBlock; else notShowBlock">
</ng-template>
<ng-template #showBlock>
  <p>Ini Show Block</p>
</ng-template>
<ng-template #notShowBlock>
  <p>Ini not Show Block</p>
</ng-template>


<p>
  <input [(ngModel)]="a" type="text">*
  <input [(ngModel)]="b"type="b">
  <br>Hasilnya : {{a*b}}
</p>

<button (click)="KlikButton()">Tekan</button>
{{Pesan}}
